 
%p
  %strong Name:
  = @sci_degree_class.name
%p
  %strong Creator:
  = @sci_degree_class.creator
%p
  %strong Modifier:
  = @sci_degree_class.modifier
= link_to 'Edit', edit_sci_degree_class_path(@sci_degree_class)
/ = link_to 'Back', sci_degree_classes_path
